<h1 mat-dialog-title align="middle"> User Details </h1>
<div mat-dialog-content>
  <form [formGroup]="userForm">

    <mat-form-field appearance="outline">
      <mat-label>Enter First Name</mat-label>
      <input matInput placeholder="First Name" matInput formControlName="firstName">
      <mat-icon matSuffix> person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter Last Name</mat-label>
      <input matInput placeholder="Last Name" matInput formControlName="lastName">
      <mat-icon matSuffix> person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter Contact No</mat-label>
      <input placeholder="Contact No" matInput formControlName="contact">
      <mat-icon matSuffix> phone</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter Email id</mat-label>
      <input placeholder="Email Id" matInput formControlName="email">
      <mat-icon matSuffix> email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter password</mat-label>
      <input matinput placeholder="password" type="password" matInput formControlName="password"
        [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions align="end">
  <button style=" margin-left: 8px;" type="submit" mat-raised-button color="primary" (click)="addUser()"
    [disabled]="!userForm.valid">Add User</button>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>